[Unit]
Description=Milkman Django Gunicorn Service
After=network.target

[Service]
User=azureuser
Group=www-data
WorkingDirectory=/home/azureuser/Django-milkman
EnvironmentFile=/home/azureuser/Django-milkman/.env
ExecStart=/home/azureuser/Django-milkman/venv/bin/gunicorn milkman_backend.wsgi:application --bind 127.0.0.1:8001 --workers 3 --timeout 120
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
